.experience{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

.experience__section__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    font-weight: 600;
}
.experience__title{
    font-size: 1.2rem;
}
.experience__text{
    font-size: .8rem;
}

.experience__img{
    width: 50%;
    height:250px ;
    
}
.img2{
    height: 100px;
}
.experience__description{
    margin-bottom: 3rem;
 }

.experiencia__botao--repo,
.experience__botao--demo{
    background-color: #914e9a;  
    font-size: .7rem;
    padding: .55rem;
    font-weight: 600;
    color: var(--cor-de-fundo);
    border: none;
    border-radius: .5rem;
    transition: all .2s linear;
}
.experiencia__botao--repo:hover,
.experience__botao--demo:hover{
    cursor: pointer;
    background-color: #820d92;
}

@media screen and (min-width:480px) {
    .experience__section__title{
        padding: 1rem;
    }
    .experience__description{
        margin-bottom: 4rem;
    }
    .experience__img{
        width: 30%;
        height:150px;
    }
    .img2{
        height: 100px;
    }
}

@media screen and (min-width:750px) {
    .experience{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
     }
     .experience__section__title{
        width: 100%;
     }
    .experience__img{
        width: 70%;
        height: 180px;
        
     }
     .img2{
         width: 70%;
         height: 90px;
     }
}

@media screen and (min-width:992px) {

.experience__box{
   width: 25%;
}
   
 .experience__section__title{
    margin-bottom:3rem ;
 }

    .experience__img{
       width: 70%;
       height: 16rem;
    }
    .img2{
        width: 70%;
        height: 8rem;
    }
}