.footer{
    width: 100%;
    background-color: var(--purple);
    margin-top: 2rem;
    display: flex;
    position: relative;
    bottom: 0;
    
}

.footer__rodape{
   margin: auto;
   text-align: center;
    font-size: .8rem;
    color: var(--cor-de-fundo);
}

@media screen and (min-width:950px) {
    .footer{
        height: 6rem;
        
    }
}