

.menu{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    
    
}
.menu__header{
    display: flex;

}
.menu__title{
    font-size: 1rem;
    margin-left: .3rem;
    color: #7f188d;  
    width: 50%;
}
.menu__imagen{
    color: var(--cor-de-letras);
}

.menu__list{
    display: none;
}
.menu__link__contato{
    font-size: .98rem;
    font-weight: 600;
    color: var(--purple);
}


.menu__list__item:hover{
text-decoration: underline var(--purple) .15rem ;
}


@media screen and (min-width:992px) {
    .menu__header{
        width: 15%;
        flex-wrap: wrap;
    }
    .menu__title{
       padding: 1rem;
       margin-left: 1rem;
    font-size: 1.3rem;
   }
   
    .menu__list{
        display: flex;
        
    }
    .menu__list__item{
        padding: .8rem;
        font-size: 1.1rem;
    }
    .menu__link__contato{
        display: none;
    }
}