.hobbies{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    

}

.hobbies__title{
    text-align: center;
    font-size: 1.5rem;
    color: var(--purple);
    font-weight: 600;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.hobbies__box{
    text-align: center;
    margin-right: .5rem;
}
.hobbies__img{
    padding: 0.2rem;
}

.meditar{
    width: 2.5rem;
}

@media screen and (min-width:480px) {
    .hobbies__line{
        justify-content: center;
        
    }
    .hobbies__box{
        margin-right: 2rem;
    }
}

