

.title__div{
   margin-left: 2.5rem;
}



.title__profile{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    
}
.title__container{
    width: 70%;
}
.title__subsection{
    font-weight: 500;
}
.title__bio{
    font-size: 1.5rem;
    color: var(--purple);
}

.title__network{
    display: flex;
   justify-content: center;
   padding: 1rem;
}
.title__network__item{
    display: flex;
    margin-right: 1rem;
   
}
.title__network__item:hover{
    text-decoration: underline var(--purple) .15rem;
}

.title__network__item::before{
    content: url(../assets/arrow.png);
    padding-right: 0.5rem;
}

@media screen and (min-width:480px) {
    .title__network__item{
       margin-right: 3rem;
       font-size: 1.1rem;

    }
}

@media screen and (min-width: 992px) {
    .title__network{
        justify-content: space-evenly;
        font-size: 1.4rem;
    }
}